html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: #333;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.74);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}